.statement {
    min-width:          200px;
    min-height:         30px;
    position:           relative;
    background-color:   white;
    float:              left;
    clear:              both;
}
.statement-child-container {
    min-height:         20px;
    position:           relative;
    background-color:   white;
    float:              left;
    clear:              both;
    margin:             3px;
}
.statement-list {
    min-height:         inherit;
    list-style-type:    none;
    margin:             0px;
    padding:            3px;
    width:              98%;
    float:              left;
}