.action {
	height:		65px;
	background-color:	white;
	border:		1px solid black;
	position:	absolute;
	min-width:	100px;
}
.action-child {
	position:	relative;
	top:		0px;
	left:		0px;
}
#dev-workspace{
	position:	relative;
	top:		0px;
	left:		0px;
	width:		700px;
	height:		200px;
	border:		1px solid black;
}
.action-child-container {
	position:	relative;
	min-width:	20px;
	border:		1px solid black;
	padding:	1px;
	margin:		1px;
	float:		left;
}
.action-attribute-container {
	min-width:	50px;
	min-height:	50px;
	height:		59px;
}
.action-operator-container {
	position:	relative;
	top:		16px;	/* we know the height of of attributes so we know what height to expect an action block to be.*/
}
.operator-select {
	font-size:	1.5em;			
}