.comparison {
    position:               relative;
    top:                    0px;
    left:                   0px;
    border:                 1px solid black;
    height:                 65px;
    background-color:       white;
    -moz-border-radius:     14px;
    -webkit-border-radius:  14px;
    padding:                7px;
    z-index:                11;                /* always be above the if-then-else arrow positioning DIV */
    float:                  left;
    clear:                  both;
}
.comparison-child-container {
    min-width:  20px;
    border:     1px solid black;
    padding:    1px;
    margin:     1px;
    float:      left;
}
.comparison-attribute-container {
    min-width:  50px;
    min-height: 50px;
    height:     59px;
}
.comparison-comparator-container {
    position:   relative;
    top:        16px;
}
.comparator-select {
    font-size:  22px;            
}
.conjunction.primary {
    border:                 1px solid black;
    -moz-border-radius:     50%;
    -webkit-border-radius:  50%;
    height:                 40px;
    width:                  40px;
    line-height:            40px;
    position:               relative;
    margin:                 auto;
}
.conjunction.innards-container {
    position:               absolute;
    left:                   0px;
    bottom:                 0px;
    /*border:                 1px dashed #AAA;*/
    min-width:              100px;
    min-height:             100px;
}
.conjunction.diagonal-container{
    position:               absolute;
    bottom:                 33px;
    left:                   33px;
    width:                  32px;
    height:                 100px;
    background-image:       url("images/diagonal_up_75x100.png");
}
.conjunction.condition-list {
    position:               absolute;
    bottom:                 55px;
    left:                   65px;
    border:                 1px solid black;
    min-height:             40px;
    min-width:              100px;
    list-style-type:        none;
    padding:                 0px;
    background-color:       white;
}