.topHandle,.botHandle{
    border:     1px solid black;
    width:      5px;
    height:     5px;
    position:   absolute;
    z-index:    1;
}
.horiz {
    background: #ff0000;
    height:     3px;
    position:   absolute;
}
.topVert,.botVert{
    background: #ff0000;
    width:      3px;
    position:   absolute;
}
.connectable {
    border:     2px solid #2222FF;
    min-width:  60px;
    min-height: 40px;
    position:   absolute;
    top:        50px;
    left:       50px;
}
.connPoint {
    border:     2px solid #22AA22;
    position:   absolute;
    width:      9px;
    height:     9px;
}
.topConnPoint {
    top:    -12px;
    left:   50%;
}
.botConnPoint {
    bottom: -12px;
    left:   50%;
}
.can-connect {
    border-width:   4px
}

