#context-menu {
	position:			fixed;
	border:				1px solid black;
	background-color:	white;
	visibility:			hidden;
}
.context-menu-item {
	margin:		1px;
	border:		1px solid black;
	background-color:	white;
	padding:	2px;
}
.context-menu-item:hover {
	background-color:	#CCCCFF;
	cursor:				default
}