.ifthenelse {
	min-width: 		200px;
	position: 		relative;
	float:			left;
	clear:			both;
	text-align:		center;
	border:			1px solid #CCCCCC;
	padding-left:	20px;
	padding-right:	20px;
}
.ifthenelse-condition-container {
	position: 		relative;
	min-height:		59px;
	min-width:		120px;
	margin:			10px 40px 10px 40px;
	border:			1px dashed #AAA;
}
.ifthenelse-diamond-image {
	position:	absolute;
	left:		0px;
	top:		0px;
	width:		100%;
	height:		100%;
}
.ifthenelse-condition-positioning {
	position:	relative;
	border:		1px solid #AAAAAA;
}
.ifthenelse-thenelse {
	clear:both;
	float:left;
}
.ifthenelse-then {
	border:		1px solid black;
	margin:		2px;
	position:	relative;
	float:		left;
	min-width:	150px;
	min-height:	50px;
	background-color:	white;
	padding-top:0.5em;
	margin-right:10px;
	left:		-20px;
}
.ifthenelse-else {
	border:		1px solid black;
	margin:		2px;
	position:	relative;
	float:		right;
	min-width:	150px;
	min-height:	50px;
	background-color:	white;
	padding-top:0.5em;
	margin-left:10px;
	right:		-20px;
}
.ifthenelse-then-title {
	background-color:	white;
	position:	absolute;
	top:		-0.5em;
	font-size:	1em;
	line-height:1em;
	left:		5px;
}
.ifthenelse-else-title {
	background-color:	white;
	position:	absolute;
	top:		-0.5em;
	font-size:	1em;
	line-height:1em;
	right:		5px;
}
 .ifthenelse-condition-centering-outer {
	float:				left;
	position:			relative;
	left:				50%;
}
.ifthenelse-condition-centering-inner {
	float:		left;
	position:	relative;
	left:		-50%;
	padding:		10%;
}