/** ATTRIBUTE **/
.attr_box {
    background-color:       white;
    /*position:                absolute;*/
    border:                 1px solid black;
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
    height:                 42px;
}

.sub_level_container {
    float:                  right;
}

.attr_box_value {
    font-size:  17px;
    margin:     10px;
    float:      left;
}



/* VISUAL EDITOR */
.yui-menu {
    z-index:    1000 !important;
}
.sub_level {
    position:   relative;
    top:        -1px;
    right:      -1px;
}

body {
    overflow:    hidden;
}
.menu-button-img {
    vertical-align: middle;
    border-width:   0px;
}
.menu-form-input {
    border: 1px solid black;
}
.VE-workspace {
    position:   relative;
    /*min-height:    368px;*/
    /*border:     1px solid black;*/
    /*padding:    5px;*/
    /*float:        left;*/
    overflow:   auto;
}
#VE-help {
    position:           absolute;
    top:                0px;
    left:               20px;
    width:              70%;
    /*height:        400px;*/
    border:             1px solid black;
    background-color:   white;
    visibility:         hidden;
    z-index:            10000;
}
#VE-help-container {
    /*position:    absolute;*/
    top:            23px;
    width:          100%;
    /*height:        377px;*/
    border-width:   0px;
    clear:          both;
    left:           0px;
}
#VE-help-titlebar {
    height:        21px;
    border:        1px solid black;
    background-color:    #AAA;
    float:        left;
}
#VE-help-closeBtn {
    width:      21px;
    height:     21px;
    position:   absolute;
    top:        0px;
    right:      0px;
    border:     1px solid black;
    text-align: center
}
#VE-loading-msg {
    position:   relative;
    left:       -50%;
    float:      left;
    background-color:   #ffff88;
    border:     2px solid #99ccff;
    min-height: 3em;
    padding:    8px;
}
#VE-loading-msg-centering {
    position:   fixed;
    left:       50%;
    top:        30px;
    float:      left;
}
#initialization {
    position:       relative;
    border:         1px solid black;
    float:          left;
    clear:          both;
    margin:         22px;
    padding-top:    1em;
}
#implementation {
    position:       relative;
    border:         1px solid black;
    float:          left;
    clear:          both;
    margin:         22px;
    padding-top:    1em;
}
#initialization-title {
    background-color:   white;
    position:           absolute;
    top:                -0.5em;
    font-size:          1em;
    line-height:        1em;
    left:               5px;
}
#implementation-title {
    background-color:   white;
    position:           absolute;
    top:                -0.5em;
    font-size:          1em;
    line-height:        1em;
    left:               5px;
}
DIV.selected {
    border :    3px solid #00F !important;
    z-index:    30;
}




/* CONNECTOR */
.topHandle,.botHandle{
    border:     1px solid black;
    width:      5px;
    height:     5px;
    position:   absolute;
    z-index:    1;
}
.horiz {
    background: #ff0000;
    height:     3px;
    position:   absolute;
}
.topVert,.botVert{
    background: #ff0000;
    width:      3px;
    position:   absolute;
}
.connectable {
    border:     2px solid #2222FF;
    min-width:  60px;
    min-height: 40px;
    position:   absolute;
    top:        50px;
    left:       50px;
}
.connPoint {
    border:     2px solid #22AA22;
    position:   absolute;
    width:      9px;
    height:     9px;
}
.topConnPoint {
    top:    -12px;
    left:   50%;
}
.botConnPoint {
    bottom: -12px;
    left:   50%;
}
.can-connect {
    border-width:   4px
}





/* ACTION */
.assignment {
    position:           relative;
    top:                0px;
    left:               0px;
    border:             1px solid black;
    height:             51px;
    background-color:   white;
}
/*.assignment-child {
    position:    relative;
    top:        0px;
    left:        0px;
}*/
.assignment-child-container {
    min-width:  20px;
    border:     1px solid black;
    padding:    1px;
    margin:     1px;
    float:      left;
}
.assignment-attribute-container {
    min-width:  50px;
    min-height: 44px;
    height:     44px;
}
.assignment-operator-container {
    position:   relative;
    top:        8px;    /* we know the height of of attributes so we know what height to expect an assignment block to be.*/
}
.operator-select {
    font-size:  22px;            
}




/* IF-THEN-ELSE */

.ifthenelse.statement-list-child {
    border:             1px solid black;
    background-color:   white;
    position:           relative;
}

.ifthenelse.condition-container {
    position:   absolute;
    min-height: 40px;
    min-width:  40px;
}
.ifthenelse.statement-list {
    border:     1px solid black;
    min-height: 50px;
    min-width:  100px;
    position:   absolute;
}



/* CONDITION */
.condition {
    z-index:    12;
    /*float:      left;*/
}
.comparison {
    position:               relative;
    top:                    0px;
    /*left:                   0px;*/
    border:                 1px solid black;
    height:                 50px;
    background-color:       white;
    -moz-border-radius:     14px;
    -webkit-border-radius:  14px;
    border-radius:          14px;
    padding:                7px;
    z-index:                11;                /* always be above the if-then-else arrow positioning DIV */
    /*float:                  left;*/
    clear:                  both;
}
.comparison-child-container {
    min-width:  20px;
    border:     1px solid black;
    padding:    1px;
    margin:     1px;
    float:      left;
}
.comparison-attribute-container {
    min-width:  50px;
    min-height: 44px;
    height:     44px;
}
.comparison-comparator-container {
    position:   relative;
    top:        8px;
}
.comparator-select {
    font-size:  22px;            
}
.enough.primary {
    border:                 1px solid black;
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
    height:                 40px;
    width:                  40px;
    line-height:            40px;
    position:               relative;
    margin:                 auto;
    background-color:       white;
}
.enough.condition-list {
    position:               absolute;
    top:                    35px;
    left:                   4px;
    border:                 1px solid black;
    min-height:             55px;
    min-width:              100px;
    list-style-type:        none;
    padding:                 0px;
    background-color:       white;
}
.enough.primary.enough {
    width:                  130px;
}
.enough.threshold {
    width:                  30px;
}




/* STATEMENT */
.statement-list {
    min-width:          200px;
    min-height:         30px;
    position:           relative;
    background-color:   white;
    float:              left;
    clear:              both;
}
.statement-list-child-container {
    min-height:         20px;
    position:           relative;
    background-color:   white;
    float:              left;
    clear:              both;
    margin:             3px;
}
/*.statement-list {
    min-height:         inherit;
    list-style-type:    none;
    margin:             0px;
    padding:            3px;
    width:              98%;
    float:              left;
}*/




/* CONTEXT MENU */
#context-menu {
    position:           fixed;
    border:             1px solid black;
    background-color:   white;
    visibility:         hidden;
    z-index:            1000;
}
.context-menu-item {
    margin:             1px;
    border:             1px solid black;
    background-color:   white;
    padding:            2px;
}
.context-menu-item:hover {
    background-color:   #CCCCFF;
    cursor:             default
}

/* WHILE STATEMENT */
.while.statement-list-child {
    position:           relative;
    top:                0px;
    left:               0px;
    border:             1px solid black;
    height:             65px;
    background-color:   white;
    height:             215px;
    width:              493px;
}
.while.condition-positioning {
    position:   absolute;
    top:        20px;
    left:       63px;
    height:     90px;
    width:      190px;
}
.while.condition-container {
    left:       49px;
    min-height: 44px;
    min-width:  93px;
    position:   absolute;
    top:        24px;
}
.while.condition-rhombus {
    position:   absolute;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     100%;
    visibility: visible;
}
.while.condition-rhombus.selected {
    /*  inherits style of non-selected, 
        but we show one and hide the other */
    visibility:  hidden;
}
DIV.while.multiple-documents-symbol {
    position:   absolute;
    left:       5px;
    top:        65px;
    height:     65px;
    width:      127px;
}
IMG.while.multiple-documents-symbol {
    position:   absolute;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     100%;
}
SPAN.while.multiple-documents-symbol {
    font-size:  14px;
    padding:    5px;
    position:   absolute;
    top:        8px;
    width:      106px;
    left:       0px;
    text-align: left;
}
.while.arrowline.multidocs-to-rhombus {
    position:   absolute;
    top:        5px;
    left:       53px;
    height:     90px;
    width:      108px;
    border:     1px solid black;
    border-bottom:         none;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
.while.arrowline.rhombus-statements-multidocs {
    position:   absolute;
    top:        70px;
    left:       53px;
    height:     90px;
    width:      220px;
    border:     1px solid black;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
.while.arrowhead-into-rhombus {
    position:   absolute;
    height:     12px;
    width:      9px;
    top:        8px;
    left:       156px;
}
.while.arrowhead-into-statements {
    position:   absolute;
    height:     12px;
    width:      9px;
    top:        87px;
    left:       268px;
}
.while.arrowhead-into-multidocs {
    position:   absolute;
    top:        132px;
    left:       47px;
    width:      9px;
    height:     12px;
}
.while.statement {
    position:   absolute;
    top:        97px;
    left:       222px;
    min-width:  260px;
    min-height: 100px;
    border:     1px solid black;
}

#VE-menu {
    position:   absolute;
}

.hidden-by-default-menu {
    display:    none !important;
}

.valid-menu {
    display:    block !important;
}

#updating-visual-message {
    display:    none;
    border:     1px solid black;
    position:   relative;
    left:       -50%;
    float:      left;
    background-color:   #ffff88;
    line-height: 3em;
    padding:    8px;
}
#updating-visual-message-centering {
    position:   fixed;
    left:       50%;
    top:        80px;
    float:      left;
    z-index:    10000;
}

.yui-dd-drop-active-valid {
    background-color:   #95FC97;
}